<ion-view view-title="Main">
  <ion-content class="padding">
      <div id="advButton" class="button button-block button-assertive" ng-click="getAdventure()">
          Get New Adventure!
      </div>
      <div id="advCard"  class="item item-text-wrap hide">
        <p>
            This is a basic Card which contains an item that has wrapping text.
        </p> 
        <div class="row">
            <button class="col margin-m button button-calm">
                Challenge Accepted!
            </button>
            <button class="col margin-m button button-calm">
                Choose another
            </button>
        </div>
      </div>
<!--
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
-->
  </ion-content>
</ion-view>
